:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fa-icon {
    font-size: 100px;
}

h1 {
    margin: 0 0 25px 0;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
        margin: 5px 15px;
    }
}

span {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    ion-checkbox {
        margin-right: 10px;
        height: 15px;
        width: 15px;
    }
}