<mat-card>
    <div class="overlay" *ngIf="isLoading"></div>

    <mat-card-content>
        <h6 class="title-header no-margin">Contact</h6>
        <h3 class="title no-margin">We'd love to hear from you!</h3>
        <p class="subtitle no-margin">Send us a message using the contact form, or email us.</p>

        <form [formGroup]="contactForm" (ngSubmit)="submit()" *ngIf="!submitted">
            <div class="inline">
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="name" type="text">
                    <mat-error *ngIf="name!.hasError('required')">
                        Full Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="email!.hasError('email') && !email!.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email!.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="message-input">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message"></textarea>
                <mat-error *ngIf="message!.hasError('required')">
                    Message is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <input formControlName="honeyPot" class="hidden" type="text" />

            <button 
                class="g-recaptcha" 
                data-sitekey="6LefIAoaAAAAAEwDV77voA1mu5LskiQdBlrVAoOm" 
                data-callback="submit"
                data-action="submit"
                mat-raised-button 
                color="primary">
                Submit
                <fa-icon [icon]="['fas', 'chevron-right']" class="icon-right"></fa-icon>
            </button>
        </form>

        <div class="spinner flex-center" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
            <p class="text-center">Submitting</p>
        </div>

        <icon-success *ngIf="submitted && !isError"></icon-success>
        <icon-error *ngIf="submitted && isError"></icon-error>

        <p *ngIf="submitted && responseMessage" class="text-center">{{ responseMessage }}</p>
    </mat-card-content>
</mat-card>
