<!-- <app-header></app-header> -->

<section class="hero no-margin">
    <div class="column-container">
        <div class="column col-2">
            <div class="container">
                <h1 class="title">Support iQuench</h1>
                <h2 class="subtitle no-margin">Help keep iQuench free</h2>
                <button mat-raised-button color="primary">
                    Donate today
                    <fa-icon [icon]="['fas', 'chevron-right']" class="icon-right"></fa-icon>
                </button>
            </div>
        </div>

        <div class="column col-2">
            <img src="/assets/images/about/about-hero.svg" alt="">
        </div>
      </div>      
</section>

<section class="thank-you">
    <h2 class="section-title align-left">Thank you for making a difference!</h2>
    <div class="column-container">
        <div class="column col-2">
            <p class="no-margin">
                I am an avid cyclist who has often faced the problem of running out of water in the middle of a ride. I know I am not alone. Many of my friends have faced the same problem, and that's why I created this website. 
            </p>
        </div>
        <div class="column col-2">
            <p class="no-margin">
                Projects like these take a lot of work. This one is my contribution to the outdoor community, funded by my own money. Your donation, small or big, would show me that you really appreciate my hard work.
            </p>
        </div>
    </div>
    <p class="name no-margin">- <a href="https://www.linkedin.com/in/milanfc/">Milan Ferus-Comelo</a></p>
</section>

<!-- <app-footer></app-footer> -->
