$border-radius: 6px;
$shadow: 0 2px 20px rgba(0,0,0,0.164);

// $blue-color: #1976D2;
$blue-color: #2196F3;
$blue-color-light: #7EC2F8;
$blue-color-extra-light: #E1F5FE;

$red-color:             #B81D13 !default;
$red-color-light:       #FF6666 !default;
$red-color-extra-light:       #F8D7DA !default;

$yellow-color:          #EFB700 !default;
$yellow-color-light:          #fff3ca !default;

$green-color:           #008450 !default;
$green-color-light:     #9bff9b !default;

$gold-color:            #FFD949 !default;
$gold-color-light:      #FFEC7B !default;
$gold-color-dark:       #E6B600 !default;

$silver-color:          #B8B8B8 !default;
$silver-color-light:    #CCCCCC !default;
$silver-color-dark:     #7E7E7E !default;

$bronze-color:          #F4AA6A !default;
$bronze-color-light:    #F5B47C !default;
$bronze-color-dark:     #D86D10 !default;

$grey-color: #828282;
$grey-color-light: #CCCCCC;

$black-color: #333333;
$white-color: #FDFDFD;
