<!-- <app-header></app-header> -->

<section class="hero no-margin">
    <div class="column-container">
        <div class="column col-2">
            <div class="container">
                <h1 class="title">About</h1>
                <h2 class="subtitle no-margin">A bit about iQuench</h2>
            </div>
        </div>

        <div class="column col-2">
            <img src="/assets/images/about/about-hero.svg" alt="">
        </div>
      </div>      
</section>

<section class="who-we-are">
    <div class="column-container">
        <div class="column col-2">
            <div class="padding-left">
                <h2 class="section-title align-left no-margin">Who we are</h2>
            </div>
        </div>

        <div class="column col-2">
            <div class="padding-right">
                <p>
                    iQuench provides a free-to-use, crowd-sourced map of publicly available water fountain locations created to help you stay hydrated when outdoors. 
                </p>
                <p>
                    With the help of our users all over the globe, we have managed to locate over 250,000 fountains and are continuing to add more every day.
                </p>
                <button mat-stroked-button color="primary">
                    Add your mark today
                    <fa-icon [icon]="['fas', 'chevron-right']" class="icon-right"></fa-icon>
                </button>
            </div>
        </div>
    </div>  
</section>

<section class="how-it-started">
    <div class="card-in-card">
        <mat-card>
            <img mat-card-image src="/assets/images/index/save-the-environment.svg" alt="">
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h3 class="title">It all started with a bike ride</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<section class="why-us">
    <h2 class="section-title">Why us?</h2>
    <p class="text-center subtitle">Information about over 250,000 fountains available for FREE to help you stay hydrated</p>

    <div class="cards flex-center">
        <mat-card>
            <mat-card-content>
                <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                <h4 class="title text-center no-margin">Works everywhere</h4>
                <p class="text-center">
                    All you need to do is open iQuench to find the nearest water fountains. 
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                <h4 class="title text-center no-margin">Always Available</h4>
                <p class="text-center">
                    iQuench provides offline access to water fountains near you (coming soon!) 
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon [icon]="['fas', 'bolt']"></fa-icon>
                <h4 class="title text-center no-margin">Fast</h4>
                <p class="text-center">
                    Find a fountain near you in less time than it takes to buy a bottle of water!
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>
                <h4 class="title text-center no-margin">Free</h4>
                <p class="text-center">
                    Thanks to your generous donations, iQuench is free for anyone to use.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
                <h4 class="title text-center no-margin">Easy to use</h4>
                <p class="text-center">
                    A well-designed User Interface (UI) helps you find water fountains.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <fa-icon [icon]="['fas', 'tree']"></fa-icon>
                <h4 class="title text-center no-margin">Eco friendly</h4>
                <p class="text-center">
                    Stop throwing away single-use plastic bottles and help save the environment!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<contact-form></contact-form>

<!-- TODO: add a FAQ section -->


<section class="credits">
    <h2 class="section-title">Credits</h2>
    <p>Icons by <a href="https://fontawesome.com/license/" target="_blank">Font Awesome</a> and <a href="https://www.freepikcompany.com/legal#nav-flaticon-agreement">Flaticon</a>. Illustrations by <a href="https://www.manypixels.co/gallery/license" target="_blank">ManyPixels</a>. iQuench uses data from <a href="https://www.openstreetmap.org/" target="_blank">Open Street Maps</a>, made available under the <a href="https://opendatacommons.org/licenses/odbl/1-0/" target="_blank">Open Database License</a></p>
</section>

<!-- <app-footer></app-footer> -->
