<!-- <app-header></app-header> -->

<section class="privacy-policy">
    <h2 class="section-title">iQuench Privacy Policy</h2>
    <p>
        iQuench values your privacy and we are committed to creating a secure environment across our services, including
        our application programming interface, website and other online services (collectively, our “Website”). We use
        the data we collect to provide users with a high quality engaging experience and fulfill our mission of
        providing free access to the data of publicly available water fountains. Because we gather certain types of
        information about the users of the Website, we believe you should fully understand the terms and conditions
        surrounding the use of the information we collect. The following discloses our information gathering and
        dissemination practices for our Website. Please make sure that you read the terms of this policy and any privacy
        policies that you enter into with parties other than us, as those policies may also explain how your personal
        information is used by those parties.
    </p>
    <p>
        Your use of our Website means that you specifically and expressly consent to all practices described below in
        this Privacy Policy and our Terms of Service, as amended from time to time. Any information you provide to us or
        the Website, along with your use of the Website, is subject to the terms in this Privacy Policy and our Terms of
        Service, as amended from time to time.
    </p>

    <p><b>How data is used and collected: </b></p>

    <p><b>iQuench collects the following data about our users and their use of our Website.</b></p>

    <ul>
        <li>
            <p>
                <b>Personal information.</b>
                By registering with or using the Website, you may provide to iquench.org what is generally called
                “personally identifiable information” (such as your email address, name) that can be used to identify
                you.
                Through the rest of this Privacy Policy, such information will be referred to as “Personal Information.”
            </p>
        </li>
        <li>
            <p>
                <b>User-provided information and information about use of website.</b>
                In addition to Personal Information, we may collect information about your use of certain Website
                features,
                such as the number of water fountains you have added to the map, and your time spent on various
                activities.
                This information allows us to make a better, more personalized experience and provides us with data that
                we
                use to improve the Website. We may also request information for purposes such as the provision of
                customer
                service and support, network management, customer surveys, newsletter subscriptions, event registration
                and
                sponsorship, and other exchanges of information.
            </p>
            <p>
                Any content you submit to, or make available on, the Website (“User-Created Content”) shall be your
                property
                and you represent that such User-Created Content does not infringe on the intellectual property of any
                third
                party. You hereby grant us a perpetual, irrevocable, royalty-free, sublicenseable worldwide license to
                use
                and display such User-Created Content.
            </p>
        </li>
        <li>
            <p>
                <b>Information obtained from other users and third parties.</b>
                Some features on the Website may be used that allow other users or third parties to provide us
                information,
                some of which may be Personal Information. For example, logging in with Facebook or Google with provide
                us
                with you basic account information.
            </p>
        </li>
        <li>
            <p>
                <b>Technical information.</b>
                We may record technical information such as your Internet Protocol (IP) address, internet service
                provider,
                browser type, operating system, the dates and times the Website is visited, referring or exit pages, and
                other data which tracks users' access to the Website. This data may be analyzed for the aggregate trends
                they reveal about our users and how the users use the Website.
            </p>
        </li>
    </ul>

    <p><b>How we use this information:</b></p>
    <ul>
        <li>
            <p>
                <b>To personalize and maximize learning experiences.</b>
                The information provided may be used to better your experience on the Website. For example, we may track
                which activities need to be finished and which ones are completed, and then use this information to
                suggest
                activities you may wish to work on.
            </p>
        </li>
        <li>
            <p>
                <b>To understand how users engage with the Website.</b>
                We use information provided by, or collected from, users to create new features, analyze trends and
                metrics,
                and learn information about our users’ preferences.
            </p>
        </li>
    </ul>

    <p><b>Limitations on access to your Personal Information by employees and authorized parties: </b></p>
    <p>Our employees and affiliates will not access your Personal Information without a specific reason to do so.
        Often this reason will be to better serve you in the event of a support issue (for example, we may look up your
        operating system and web browser if you write to us saying you are having a problem with the Website).</p>

    <p><b>How your data is shared and transferred.</b></p>
    <p>We disclose user information only as described below:</p>
    <ul>
        <li>
            <p>
                <b>Aggregated and anonymous data may be shared.</b>
                We may occasionally share aggregated and/or anonymized data with partners for research, evaluation,
                consulting or other business purposes. When this occurs, no Personal Information will be shared,
                however,
                other information, such as your city may be shared.
            </p>
        </li>
        <li>
            <p>
                <b>As legally required.</b>
                In response to court orders, warrants, or subpoenas, and other situations where required by law, we may
                share user information. We will take reasonable steps to notify users of this sharing as soon as
                possible.
            </p>
        </li>
        <li>
            <p>
                <b>Change of business.</b>
                If we acquire, merge with, or are acquired by another organization, in whole or in part, the information
                we
                have collected may be transferred to and/or shared with the other organization and its affiliates. In
                such
                case, the organization receiving the personal information will be obligated to follow the terms of this
                privacy policy.
            </p>
        </li>
        <li>
            <p>
                <b>When appropriate or necessary to protect our interests.</b>
                We may share information if we believe that it is reasonably necessary to enforce the Terms of Use or to
                protect us against liability, unlawful or fraudulent uses, or to defend ourselves against third-party
                allegations or claims. We may also share this information for security reasons, such as to defend the
                integrity of our website. Your information may also be shared to protect the personal safety, rights, or
                property of iquench.org, its users, and others.
            </p>
        </li>
        <li>
            <p>
                <b>Service providers.</b>
                We may share information with our service providers.
            </p>
        </li>
        <li>
            <p>
                <b>Partners.</b>
                We may share information about aggregated and/or anonymized data with our partners.
            </p>
        </li>
        <li>
            <p>
                <b>Sponsors.</b>
                We may share information about aggregated and/or anonymized data with our sponsors.
            </p>
        </li>
    </ul>

    <p><b>Your options and choices in our data use, collection, and transfer: </b></p>
    <ul>
        <li>
            <p>
                <b>You can choose to not provide us with Personal Information.</b>
                You may use the Website anonymously without providing any Personal Information. If you choose to do
                this,
                you will still have access to the map, but some Website features may not work and your progress will not
                be
                saved.
            </p>
        </li>
        <li>
            <p>
                <b>You can view your Personal Information.</b>
                You can view certain personal information by logging into our website, and can request to view any other
                personal information by contacting us at milan@iquench.org.
            </p>
        </li>
        <li>
            <p>
                <b>Your Personal Information can be corrected, edited, or deleted.</b>
                To ensure that you have control over your information, we will respond as quickly as possible to any
                request
                to correct, edit or delete Personal Information. If you would like this information changed or removed,
                please contact us at milan@iquench.org.
            </p>
        </li>
    </ul>

    <p><b>How we handle data security</b></p>
    <ul>
        <li>
            <p>
                <b>Keeping your information secure.</b>
                To protect your Personal Information, account information, and privacy, we may require you to login
                using a
                password before accessing certain parts of the Website. We urge you to create a strong password and keep
                this information safe.
            </p>
        </li>
        <li>
            <p>
                <b>We try to keep secure the Website and Personal Information within, but there are no guarantees.</b>
                We use a number of techniques, including technological, social and procedural methods designed to keep
                your
                information safe. These include following industry practices, and more. While we take reasonable steps
                to
                protect your information, we neither ensure nor warrant that information transmitted to or by us is
                secure,
                and you provide us with this information at your own risk.
            </p>
        </li>
        <li>
            <p>
                <b>You will be notified electronically or through the Website if there has been a security incident that
                    may
                    affect you. </b>
                If a security incident involving your Personal Information does occur, we will notify you and any other
                users that may have been affected as soon as possible after we learn of the security incident. This
                notification may occur electronically, or via a notice posted on the Website.
            </p>
        </li>
    </ul>

    <p><b>Links to third party sites</b></p>
    <p>
        In some cases, the Website may link to third party websites. These links may include social media pages, partner
        organizations, or any other website. We cannot control the activities or content that exists on these sites, and
        they may change without our knowledge. This Privacy Policy does not apply to those websites, or any other
        website that is not part of the Website.
    </p>

    <p><b>Changes and updates to this Privacy Policy</b></p>
    <p>
        We may revise this Privacy Policy from time to time. If we make any changes, we will change the last revised
        date listed below. The revised Privacy Policy will become effective upon such posting.
    </p>
    <p>
        If we make any material changes to this policy, we will provide notice to the email address we have on record
        for each account holder. For material changes regarding use or collection of data, we will provide choices and
        additional information regarding the collection of such data before it is used in any manner inconsistent with
        the terms initially provided to users. You are responsible at all times for keeping that email address up to
        date.
    </p>

    <p><b>Contacting Us</b></p>
    <p>
        If you have any questions regarding this Privacy Policy, comments, or would like to know what Personal
        Information has been collected about you, please contact us by emailing milan@iquench.org
    </p>
</section>

<!-- <app-footer></app-footer> -->