<!-- <app-header class="transparent"></app-header> -->

<section class="hero">

</section>

<section class="three-cards">
    <div class="column-container">
        <div class="column col-3">
            <div class="card flex-center">
                <fa-icon [icon]="['fas', 'tree']"></fa-icon>
                <h3 class="title no-margin">Eco Friendly</h3>
                <p class="text-center">Help save the environment by refilling your bottle!</p>
            </div>
        </div>

        <div class="column col-3">
            <div class="card flex-center">
                <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                <h3 class="title no-margin">International</h3>
                <p class="text-center">Over 250,000 crowd-sourced water fountains mapped all over the world!</p>
            </div>
        </div>

        <div class="column col-3">
            <div class="card flex-center">
                <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
                <h3 class="title no-margin">Easy to Use</h3>
                <p class="text-center">Add to your home screen for quick access wherever you are!</p>
            </div>
        </div>
    </div>      
</section>

<section class="showcase">
    <div class="card-in-card">
        <mat-card>
            <img mat-card-image src="/assets/images/index/save-the-environment.svg" alt="">
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h3 class="title">Save the environment</h3>
                <p>
                    Over 85% of plastic bottles used in the US become garbage or litter. Help cut down on this waste be reusing your bottle and filling up for free at a water fountain.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="card-in-card reversed">
        <mat-card>
            <img mat-card-image src="/assets/images/index/community-sourced.svg" alt="">
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h3 class="title">For your locale</h3>
                <p>
                    iQuench uses a database containing over 250,000 mapped water fountains all over the world so that you can find the nearest one whenever you want.
                </p>
                <button mat-raised-button color="primary">
                    Sign Up
                    <fa-icon [icon]="['fas', 'chevron-right']" class="icon-right"></fa-icon>
                </button>                    
            </mat-card-content>
        </mat-card>
    </div>

    <div class="card-in-card">
        <mat-card>
            <img mat-card-image src="/assets/images/index/easy-to-use.svg" alt="">
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h3 class="title">Easy to use</h3>
                <p>
                    Add iQuench to your home screen for quick access wherever you are. An intuitive UI helps you use iQuench to its fullest advantage. Directions show you the way to the nearest fountain.
                </p>
                <button mat-raised-button color="primary">
                    Download the app
                    <fa-icon [icon]="['fas', 'chevron-right']" class="icon-right"></fa-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<section class="testimonials">
    <h2 class="section-title">What people are saying</h2>
    <div class="column-container">
        <div class="column col-3">
            <mat-card class="first">
                <mat-card-content>
                    <fa-icon [icon]="['fas', 'quote-left']"></fa-icon>
                    <p class="text-small no-margin testimonial">
                        This is a delightfully subversive tool in a culture where we're taught to fear natural water and buy some packaged ration like sophisticated refugees.
                    </p>
                    <img mat-card-image src="/assets/images/index/avatar-1.svg" alt="">
                    <p class="small name text-center">Benjamin Churchill</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column col-3">
            <mat-card class="second">
                <mat-card-content>
                    <fa-icon [icon]="['fas', 'quote-left']"></fa-icon>
                    <p class="text-small no-margin testimonial">
                        This has changed my long rides! I had no idea that I was passing some of these fountains every day and just missing them by a block.
                    </p>
                    <img mat-card-image src="/assets/images/index/avatar-3.svg" alt="">
                    <p class="small name text-center">Zach Snodgrass</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column col-3">
            <mat-card class="third">
                <mat-card-content>
                    <fa-icon [icon]="['fas', 'quote-left']"></fa-icon>
                    <p class="text-small no-margin testimonial">
                        This is a delightfully subversive tool in a culture where we're taught to fear natural water and buy some packaged ration like sophisticated refugees.
                    </p>
                    <img mat-card-image src="/assets/images/index/avatar-1.svg" alt="">
                    <p class="small name text-center">Benjamin Churchill</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->
<!-- <router-outlet></router-outlet> -->